<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <servlet>
        <servlet-name>AddTeacherServlet</servlet-name>
        <servlet-class>com.guanshang.manager.controller.AddTeacherServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLoginServlet</servlet-name>
        <servlet-class>com.guanshang.manager.controller.AdminLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminInfoModifyServlet</servlet-name>
        <servlet-class>com.guanshang.manager.controller.AdminInfoModifyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowTeacherInfoServlet</servlet-name>
        <servlet-class>com.guanshang.manager.controller.ShowTeacherInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeacherInfoDetailServlet</servlet-name>
        <servlet-class>com.guanshang.manager.controller.TeacherInfoDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeacherInfoDeleteServlet</servlet-name>
        <servlet-class>com.guanshang.manager.controller.TeacherInfoDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeacherInfoModifyServlet</servlet-name>
        <servlet-class>com.guanshang.manager.controller.TeacherInfoModifyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ComputerRoomInfoAddServlet</servlet-name>
        <servlet-class>com.guanshang.manager.controller.ComputerRoomInfoAddServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowComputerRoomInfoServlet</servlet-name>
        <servlet-class>com.guanshang.manager.controller.ShowComputerRoomInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ComputerRoomInfoDetailServlet</servlet-name>
        <servlet-class>com.guanshang.manager.controller.ComputerRoomInfoDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ComputerRoomInfoUpdateServlet</servlet-name>
        <servlet-class>com.guanshang.manager.controller.ComputerRoomInfoUpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ComputerRoomInfoDeleteServlet</servlet-name>
        <servlet-class>com.guanshang.manager.controller.ComputerRoomInfoDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeacherLoginServlet</servlet-name>
        <servlet-class>com.guanshang.manager.controller.TeacherLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeacherShowComputerRoomInfoServlet</servlet-name>
        <servlet-class>com.guanshang.teacher.controller.TeacherShowComputerRoomInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeacherApplyRoomServlet</servlet-name>
        <servlet-class>com.guanshang.teacher.controller.TeacherApplyRoomServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeacherOrderInfoShowAllServlet</servlet-name>
        <servlet-class>com.guanshang.teacher.controller.TeacherOrderInfoShowAllServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeacherOrderInfoShowOwnServlet</servlet-name>
        <servlet-class>com.guanshang.teacher.controller.TeacherOrderInfoShowOwnServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminShowOrderRoomInfoAllServlet</servlet-name>
        <servlet-class>com.guanshang.manager.controller.AdminShowOrderRoomInfoAllServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeacherModifySelfServlet</servlet-name>
        <servlet-class>com.guanshang.teacher.controller.TeacherModifySelfServlet</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>TeacherModifySelfServlet</servlet-name>
        <url-pattern>/Teacher_Modify_Self</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminShowOrderRoomInfoAllServlet</servlet-name>
        <url-pattern>/Admin_Show_Order_Room_Info_All</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeacherOrderInfoShowOwnServlet</servlet-name>
        <url-pattern>/Teacher_Order_Info_Show_Own</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeacherOrderInfoShowAllServlet</servlet-name>
        <url-pattern>/Teacher_Order_Info_Show_All</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeacherApplyRoomServlet</servlet-name>
        <url-pattern>/Teacher_Apply_Room</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeacherShowComputerRoomInfoServlet</servlet-name>
        <url-pattern>/Teacher_Show_Computer_Room_Info</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>TeacherLoginServlet</servlet-name>
        <url-pattern>/Teacher_Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ComputerRoomInfoDeleteServlet</servlet-name>
        <url-pattern>/Computer_Room_Info_Delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ComputerRoomInfoUpdateServlet</servlet-name>
        <url-pattern>/Computer_Room_Info_Update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ComputerRoomInfoDetailServlet</servlet-name>
        <url-pattern>/Computer_Room_Info_Detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowComputerRoomInfoServlet</servlet-name>
        <url-pattern>/Show_Computer_Room_Info</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ComputerRoomInfoAddServlet</servlet-name>
        <url-pattern>/Computer_Room_Info_Add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeacherInfoModifyServlet</servlet-name>
        <url-pattern>/Admin_Teacher_Info_Modify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeacherInfoDeleteServlet</servlet-name>
        <url-pattern>/Admin_Teacher_Info_Delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeacherInfoDetailServlet</servlet-name>
        <url-pattern>/Admin_Teacher_Info_Detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowTeacherInfoServlet</servlet-name>
        <url-pattern>/Show_Teacher_Info</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminInfoModifyServlet</servlet-name>
        <url-pattern>/Admin_Info_Modify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLoginServlet</servlet-name>
        <url-pattern>/Admin_Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddTeacherServlet</servlet-name>
        <url-pattern>/addTeacher</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ExitServlet</servlet-name>
        <servlet-class>com.guanshang.common.controller.ExitServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ExitServlet</servlet-name>
        <url-pattern>/exit</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>TeacherSelfInfoShowServlet</servlet-name>
        <servlet-class>com.guanshang.teacher.controller.TeacherSelfInfoShowServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>TeacherSelfInfoShowServlet</servlet-name>
        <url-pattern>/selfInfo</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SubmitServlet</servlet-name>
        <servlet-class>com.guanshang.manager.controller.SubmitServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SubmitServlet</servlet-name>
        <url-pattern>/submit</url-pattern>
    </servlet-mapping>
</web-app>